@import "design-tokens/colors.css";
@import "design-tokens/text-leading.css";
@import "design-tokens/text-sizes.css";
@import "design-tokens/text-weights.css";
@import "design-tokens/wrappers.css";
@import "design-tokens/shadows.css";
@import "design-tokens/spacing.css";
@import "utilities/cluster.css";
@import "utilities/sidebar.css";
@import "utilities/switcher.css";
@import "utilities/grid.css";

:root {
  -webkit-tap-highlight-color: transparent;
  /*scroll-padding-block-start: 50%;*/

  /* ––––––––––––––––––––––––––––––––– corner radius ––––––––––––––––––––––––––––––––– */

  --border-radius: 0.5rem;
  --border-radius-big: 3rem;

  /* ––––––––––––––––––––––––––––––––– borders ––––––––––––––––––––––––––––––––– */

  --border-transparent: 1px solid
    light-dark(
      color-mix(in oklch, var(--color-black), transparent 90%),
      oklch(1 0 0 / 0.3)
    );

  --border-black: 1px solid var(--color-black);

  /* ––––––––––––––––––––––––––––––––– rotation ––––––––––––––––––––––––––––––––– */

  --rotation: -2.75deg;

  /* ––––––––––––––––––––––––––––––––– transitions ––––––––––––––––––––––––––––––––– */

  --transition-initial: 140ms;
  --transition-hover: 250ms;

  /* ––––––––––––––––––––––––––––––––– root defaults ––––––––––––––––––––––––––––––––– */

  ::selection {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  transition:
    background-color 300ms linear,
    color 300ms linear;

  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--text-typeface), sans-serif;

  & a {
    color: currentColor;
    text-decoration-thickness: 0.15ex;
    text-underline-offset: 0.5ex;
    text-decoration-skip-ink: none;
  }

  & ul {
    list-style-type: "";
    margin: 0;
    padding: 0;
  }

  scroll-behavior: smooth;

  main {
    margin-block-start: var(--space-xl);
  }

  /* ––––––––––––––––––––––––––––––––– typography ––––––––––––––––––––––––––––––––– */

  --text-typeface: "Parafina-RegularS", sans-serif;
  --display-typeface: "QueensThin", serif;
  --decoration-typeface: LaLuxesSerif, serif;
  --decoration-typeface-handwritten: LaLuxesScript, serif;
}

/* ––––––––––––––––––––––––––––––––– buttons ––––––––––––––––––––––––––––––––– */

button {
  /* all: unset; */
  /* outline: revert; */
  background-color: transparent;
  padding: 4px 16px;
  /* TODO: values */
  border: 0.1rem solid var(--color-black);
  border-radius: var(--border-radius);
  color: inherit;
  transition: var(--transition-initial);

  &:hover {
    transition: var(--transition-hover);
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

/* ––––––––––––––––––––––––––––––––– stacks ––––––––––––––––––––––––––––––––– */

.stack-4xl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: calc(var(--space-2xl, 3rem) * 2.2);
  }
}

.stack-3xl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--space-2xl, 3rem);
  }
}

.stack-2xl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--space-xl, 3rem);
  }
}

.stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--space-l, 2rem);
  }
}

.stack-m {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--space-m, 1.5rem);
  }
}

.stack-xs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--space-xs, 0.5rem);
  }
}

/* ––––––––––––––––––––––––––––––––– sections ––––––––––––––––––––––––––––––––– */

section {
  position: relative;
  width: 100%;
}

/* ––––––––––––––––––––––––––––––––– @font-face ––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "LaLuxesSerif";
  font-display: swap;
  src: url("/fonts/LaLuxes/LaLuxesSerif.eot");
  /* IE9 Compat Modes */
  src:
    url("/fonts/LaLuxes/LaLuxesSerif.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/LaLuxes/LaLuxesSerif.woff") format("woff"),
    /* Pretty Modern Browsers */ url("/fonts/LaLuxes/LaLuxesSerif.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/LaLuxes/LaLuxesSerif.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "LaLuxesScript";
  font-display: swap;
  src: url("/fonts/LaLuxes/LaLuxesScript.eot");
  /* IE9 Compat Modes */
  src:
    url("/fonts/LaLuxes/LaLuxesScript.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/LaLuxes/LaLuxesScript.woff") format("woff"),
    /* Pretty Modern Browsers */ url("/fonts/LaLuxes/LaLuxesScript.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/LaLuxes/LaLuxesScript.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Parafina-RegularS";
  font-display: swap;
  src: url("/fonts/Parafina/Parafina-RegularS.woff2");
}

@font-face {
  font-family: "Parafina-RegularM";
  font-display: swap;
  src: url("/fonts/Parafina/Parafina-RegularM.woff2");
}

@font-face {
  font-family: "Parafina-RegularL";
  font-display: swap;
  src: url("/fonts/Parafina/Parafina-RegularL.woff2");
}

@font-face {
  font-family: "QueensThin";
  font-display: swap;
  src: url("/fonts/Queens/Queens_W-Thin.woff2");
}
