---
import BaseLayout from "../layouts/BaseLayout.astro";

import Navigation from "../layouts/navigation.astro";
import Intro from "../layouts/intro.astro";
import CaseStudiesContainer from "../layouts/caseStudiesContainer.astro";
import Infobox from "../layouts/infobox.astro";
import List from "../layouts/list.astro";
// import Masonry from "../layouts/masonry.astro";
import BigCta from "../layouts/big-cta.astro";
import Footer from "../layouts/footer.astro";

// import AboutToni from "../layouts/Bento.astro";

const pageTitle = "UX Portfolio of Toni Schläppi";
---

<BaseLayout pageTitle={pageTitle}>
  <Navigation />

  <main class="stack-3xl">
    <Intro class:list={["site-wrapper"]} />
    <CaseStudiesContainer class:list={["second-wrapper"]} />
    <Infobox class:list={["second-wrapper"]} />
    <!-- <AboutToni /> -->
    <List class:list={["second-wrapper"]} />
    <BigCta class:list={["site-wrapper"]} />
  </main>

  <Footer />
</BaseLayout>
