---
import BaseLayout from "../layouts/BaseLayout.astro";

import Navigation from "../layouts/navigation.astro";
import Intro from "../layouts/intro.astro";
import CaseStudiesContainer from "../layouts/caseStudiesContainer.astro";
import Infobox from "../layouts/infobox.astro";
import List from "../layouts/list.astro";
import Masonry from "../layouts/masonry.astro";
import BigCta from "../layouts/big-cta.astro";
import Footer from "../layouts/footer.astro";

const pageTitle = "Toni Schläppi – UX Designer";
---

<BaseLayout pageTitle={pageTitle}>
  <Navigation />

  <main class="stack-2xl">
    <Intro />

    <CaseStudiesContainer />

    <Infobox />

    <List />

    <BigCta />
  </main>

  <Footer />
</BaseLayout>
