<div class="availability-status">
  <div class="status-indicator"></div>
  <p>now available</p>
</div>

<style>
  .status-indicator {
    aspect-ratio: 1;
    height: 0.6rem;
    border-radius: 1em;

    background: #48e62e;
    box-shadow: 0px 0px 6px 3px rgba(109, 224, 90, 0.5);
    filter: blur(2px);
  }

  .availability-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    align-self: center;
    padding: 0rem 1.5rem 0rem 1.5rem;
    gap: var(--space-xs);
    max-width: fit-content;
    background: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1rem;
  }
</style>
