<div class="decoration-blob"></div>

<style>
  .decoration-blob {
    position: absolute;
    width: clamp(16rem, 13vw, 25rem);
    height: clamp(10.6rem, 8.6vw, 16.5rem);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: radial-gradient(
      circle at 50% 50%,
      light-dark(oklch(96% 0.042 159), oklch(32% 0 0)) 0%,
      light-dark(oklch(100% 0 0 / 0), var(--color-rednight)) 100%
    );

    filter: blur(16px);
    border-radius: 100%;
    z-index: -1;
  }

  /* background: linear-gradient(
    160deg,
    light-dark(
        color-mix(in oklch, var(--color-white) 99%, var(--color-black)),
        color-mix(in oklch, var(--color-reddusk) 95%, var(--color-black))
      )
      0%,
    light-dark(
        color-mix(in oklch, var(--color-white) 100%, var(--color-black)),
        color-mix(in oklch, var(--color-rednight) 100%, var(--color-white))
      )
      50%
  ); */
</style>
