<div class="decoration-text-arrow">
  <div>
    <slot />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="38"
      height="106"
      fill="none"
      viewBox="0 0 38 106">
      <path
        fill="var(--color-black)"
        d="M37.864 102.625a1 1 0 0 1-.79 1.173l-8.834 1.722a1 1 0 1 1-.383-1.963l7.852-1.531-1.531-7.852a1 1 0 0 1 1.963-.383l1.723 8.834ZM.774.395c11.91 5.066 20.345 9.72 26.1 14.097 5.754 4.374 8.91 8.532 10.119 12.626 1.217 4.123.409 8.011-1.405 11.72-1.8 3.684-4.632 7.27-7.563 10.829-2.959 3.592-6.025 7.162-8.446 10.916-2.414 3.745-4.125 7.585-4.42 11.667-.583 8.072 4.359 17.663 22.282 29.737l-1.117 1.658C18.247 91.469 12.5 81.299 13.164 72.105c.33-4.549 2.227-8.717 4.734-12.605 2.5-3.879 5.668-7.566 8.583-11.105 2.943-3.572 5.627-6.99 7.31-10.434 1.67-3.418 2.316-6.778 1.284-10.277-1.041-3.527-3.837-7.361-9.41-11.6C20.094 11.85 11.827 7.27-.01 2.234L.774.395Z"
      >

      </path>
    </svg>
  </div>
</div>

<style>
  .decoration-text-arrow {
    position: absolute;

    /* bottom: clamp(1vb, 12vb, 17vb); */
    bottom: 0;
    /* left: clamp(1vi, 12vi, 17vi); */
    left: 10%;

    rotate: -20deg;
    text-align: right;
    aspect-ratio: 1;
    user-select: none;

    & svg {
      position: relative;
      right: 4em;
      top: 1em;
      rotate: 25deg;
      width: clamp(2rem, 20%, 6rem);
    }

    .handwritten {
      font-family: var(--decoration-typeface-handwritten);
      font-size: calc(var(--step-6) * 2);
      color: var(--color-black);
      font-weight: 100;
      line-height: 0.5;
      max-width: min-content;
    }
  }

  @media (max-width: 45rem) {
    .decoration-text-arrow {
      display: none;
    }
  }
</style>
