---
import Picture from "astro/components/Picture.astro";
import DecorationBlobXs from "./decoration-blob-xs.astro";
import WhatsAppButtonGreenLarge from "/src/images/whatsapp/WhatsAppButtonGreenLarge.svg";
---

<div class="button-with-blob">
  <DecorationBlobXs />
  <div class="whatsapp-link">
    <a
      aria-label="Chat with Toni on WhatsApp"
      href="https://wa.me/41789452424"
      target="_blank">
      <Picture
        src={WhatsAppButtonGreenLarge}
        alt="Chat with Toni on WhatsApp"
      />
    </a>
  </div>
</div>

<style>
  div {
    position: relative;
  }

  .whatsapp-link {
    position: relative;
    isolation: isolate;
    transition: var(--transition-initial);
  }

  .whatsapp-link::after {
    background-color: #25D366;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: var(--transition-hover);
    border-radius: 0.5em;
  }

  .whatsapp-link:hover::after {
    transform: scale(1.1);
  }

  .whatsapp-link a {
      --outline-offset: 1.1em;
  }

</style>
