---
import Picture from "astro/components/Picture.astro";
import DecorationBlobXs from "./decoration-blob-xs.astro";
import WhatsAppButtonGreenLarge from "/src/images/whatsapp/WhatsAppButtonGreenLarge.svg";
---

<div class="button-with-blob">
  <DecorationBlobXs />
  <div>
    <a
      aria-label="Chat with Toni on WhatsApp"
      href="https://wa.me/41789452424"
      target="_blank">
      <Picture
        src={WhatsAppButtonGreenLarge}
        alt="Chat with Toni on WhatsApp"
      />
    </a>
  </div>
</div>

<style>
  div {
    position: relative;
  }
</style>
