---
import DecorationBlobXs from "../components/decoration-blob-xs.astro";
import { getImage } from "astro:assets";

const caseStudyImages = {
  WA: {
    light: import("/src/images/whatsapp/WhatsAppButtonGreenLarge.svg"),
    dark: import("/src/images/whatsapp/WhatsAppButtonWhiteLarge.svg"),
    alt: "sample of the final UI design for Association Website of the Swiss Society for Health Policy",
  },
};

const processedImages = {};

for (const [key, images] of Object.entries(caseStudyImages)) {
  processedImages[key] = {
    light: await getImage({
      src: images.light,
      format: "webp",
      width: 1448,
    }),
    dark: await getImage({
      src: images.dark,
      format: "webp",
      width: 1448,
    }),
    alt: images.alt,
  };
}
---

<div class="button-with-blob">
  <DecorationBlobXs />
  <div class="whatsapp-link">
    <a
      aria-label="Chat with Toni on WhatsApp"
      href="https://wa.me/41789452424"
      target="_blank"
    >
      <picture class="whatsapp-button">
        <source
          srcset={processedImages.WA.dark.src}
          media="(prefers-color-scheme: dark)"
          data-media-dark
        />
        <img src={processedImages.WA.light.src} alt={processedImages.WA.alt} />
      </picture>
    </a>
  </div>
</div>

<style>
  div {
    position: relative;
  }

  .whatsapp-link {
    position: relative;
    isolation: isolate;
    transition: var(--transition-initial);
  }

  .whatsapp-link::after {
    background-color: light-dark(#25d366, #ffffff);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: var(--transition-hover);
    border-radius: 0.5em;
  }

  .whatsapp-link:hover::after {
    transform: scale(1.1);
  }

  .whatsapp-link a {
    --outline-offset: 1.1em;
  }

  .whatsapp-button img {
    filter: var(--theme-filter);
  }
</style>
