---
import DecorationBlobXs from "./decoration-blob-xs.astro";
---

<div class="button-with-blob">
  <DecorationBlobXs />
  <div>
    <a
      aria-label="Chat with Toni on WhatsApp"
      href="https://wa.me/41789452424"
      target="_blank">
      <img src="src/images/whatsapp/WhatsAppButtonGreenLarge.svg" />
    </a>
  </div>
</div>

<style>
  div {
    position: relative;
  }
</style>
