:root {
  --color-white: oklch(100% 0 0);
  --color-black: oklch(8% 0 0);

  --color-grey: color-mix(in oklch, transparent, var(--color-black) 55%);
  --color-grey-40: color-mix(in oklch, transparent, var(--color-black) 40%);

  --color-brand-sva: oklch(94.7% 0.058 158.15);
  --color-brand-snv: oklch(54.7% 0.058 58.15);

  --contrast: color-mix(in lab, currentColor 15%, var(--color-black));
}
