:root {
  /* ––––––––––––––––––––––––––––––––– font sizes ––––––––––––––––––––––––––––––––– */

  /* @link https://utopia.fyi/type/calculator?c=320,15,1.2,1280,17,1.2,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--1: clamp(0.7813rem, 0.7465rem + 0.1736vi, 0.8854rem);
  --step-0: clamp(0.9375rem, 0.8958rem + 0.2083vi, 1.0625rem);
  --step-1: clamp(1.125rem, 1.075rem + 0.25vi, 1.275rem);
  --step-2: clamp(1.35rem, 1.29rem + 0.3vi, 1.53rem);
  --step-3: clamp(1.62rem, 1.548rem + 0.36vi, 1.836rem);
  --step-4: clamp(1.944rem, 1.8576rem + 0.432vi, 2.2032rem);
  --step-5: clamp(2.3328rem, 2.2291rem + 0.5184vi, 2.6438rem);
  --step-6: clamp(2.7994rem, 2.6749rem + 0.6221vi, 3.1726rem);

  --text-typeface: "Parafina-RegularS", sans-serif;
  --display-typeface: "QueensThin", serif;
  --decoration-typeface: LaLuxesSerif, serif;
  --decoration-typeface-handwritten: LaLuxesScript, serif;
}
