:root {
  --space-xs: clamp(0.6875rem, 0.65rem + 0.1875vw, 0.875rem);
  --space-s: clamp(0.9375rem, 0.8875rem + 0.25vw, 1.1875rem);
  --space-m: clamp(1.4375rem, 1.3625rem + 0.375vw, 1.8125rem);
  --space-l: clamp(1.875rem, 1.775rem + 0.5vw, 2.375rem);
  --space-xl: clamp(2.8125rem, 2.6625rem + 0.75vw, 3.5625rem);
  --space-2xl: clamp(3.75rem, 3.55rem + 1vw, 4.75rem);
}
