:root {
  /* ––––––––––––––––––––––––––––––––– font sizes ––––––––––––––––––––––––––––––––– */

  /* @link https://utopia.fyi/type/calculator?c=320,15,1.2,1280,17,1.2,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step-0: clamp(0.875rem, 0.8333rem + 0.2083vw, 1rem);
  --step-1: clamp(1.05rem, 1rem + 0.25vw, 1.2rem);
  --step-2: clamp(1.26rem, 1.2rem + 0.3vw, 1.44rem);
  --step-3: clamp(1.512rem, 1.44rem + 0.36vw, 1.728rem);
  --step-4: clamp(1.8144rem, 1.728rem + 0.432vw, 2.0736rem);
  --step-5: clamp(2.1773rem, 2.0736rem + 0.5184vw, 2.4883rem);
  --step-6: clamp(2.6127rem, 2.4883rem + 0.6221vw, 2.986rem);

  --text-typeface: "Parafina-RegularS", sans-serif;
  --display-typeface: "QueensThin", serif;
  --decoration-typeface: LaLuxesSerif, serif;
  --decoration-typeface-handwritten: LaLuxesScript, serif;

  --letter-spacing-p: 0.05em;
  --letter-spacing-h: 0.03em;

  --global-line-height: 1.5;

  :where(p) {
    font-family: var(--text-typeface);
    font-size: var(--step-1);
    font-style: normal;
    font-weight: 400;
    line-height: var(--global-line-height);
    letter-spacing: var(--letter-spacing-p);
  }

  .deco-title-diagonal {
    font-family: var(--decoration-typeface);
    font-size: var(--step-6);
    font-weight: 300;
    line-height: 1.15;
    text-align: center;
    rotate: var(--rotation);
  }

  .deco-title-diagonal-bold {
    font-family: var(--decoration-typeface);
    font-size: var(--step-6);
    font-weight: 400;
    line-height: 1.15;
    text-align: center;
    rotate: var(--rotation);
    margin-inline: auto;
  }

  .title-7 {
    font-family: var(--display-typeface);
    line-height: 0.95;
    margin-inline: auto;
    font-size: calc(var(--step-6) * 1.4);
    font-optical-sizing: auto;
    font-weight: 300;
  }

  .title-6 {
    font-family: var(--display-typeface);
    font-size: var(--step-6);
    font-weight: 300;
    line-height: 1.15;
  }

  .title-5 {
    font-family: var(--text-typeface);
    font-size: var(--step-5);
    font-weight: 400;
    line-height: var(--global-line-height);
  }

  .title-4 {
    font-family: var(--text-typeface);
    font-size: var(--step-4);
    font-weight: 400;
    line-height: var(--global-line-height);
  }

  .title-3 {
    font-family: var(--text-typeface);
    font-size: var(--step-3);
    font-weight: 400;
    line-height: var(--global-line-height);
  }

  .title-2 {
    font-family: var(--text-typeface);
    font-size: var(--step-2);
    font-weight: 400;
    line-height: var(--global-line-height);
  }

  .title-1 {
    font-family: var(--text-typeface);
    font-size: var(--step-1);
    font-weight: 400;
    line-height: var(--global-line-height);
  }

  .title-0 {
    font-family: var(--text-typeface);
    font-size: var(--step-0);
    font-weight: 400;
    line-height: var(--global-line-height);
  }

  .title-1-lines {
    font-family: var(--text-typeface);
    font-size: var(--step-0);
    font-weight: 400;
    line-height: var(--global-line-height);
    overflow: hidden;
    text-align: center;
    margin-block-end: var(--space-l);
    white-space: nowrap;
    text-transform: uppercase;

    &:before,
    &:after {
      background-color: var(--color-black);
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 6%;
    }

    &:before {
      right: 1em;
    }

    &:after {
      left: 1em;
    }

    & * {
      color: inherit;
    }
  }

  .bold {
    font-weight: 500;
  }

  ::selection {
    color: color-mix(in oklch, var(--color-white) 100%, black);
    background: color-mix(in oklch, var(--color-white) 0%, black);
  }
}
