:root {
  --site-wrapper-size: 85rem;
  --inner-wrapper-size: 70rem;
  --text-wrapper-size: 60ch;
}

.site-wrapper {
  max-width: min(100% - var(--space-xl), var(--site-wrapper-size));
  margin-inline: auto;
}

.second-wrapper {
  max-width: min(100%, var(--inner-wrapper-size));
  margin-inline: auto;
}

.text-wrapper {
  max-width: var(--text-wrapper-size);
  margin-inline: auto;
}
