---
import Picture from "astro/components/Picture.astro";
import DiplomCSSforJS from "/src/images/about/CSS-for-Javascript-Developers-Certificate-Toni-Schlaeppi.png";
---

<button class="title-1" popovertarget="popover-css-for-js">
  <span>CSS for JavaScript Developers</span>
</button>

<div id="popover-css-for-js" popover>
  <Picture class="" src={DiplomCSSforJS} alt="Toni Schläppi" width={800} />
</div>

<style>
  button[popovertarget="popover-css-for-js"] {
    background-color: transparent;
    padding: 0;
    border-radius: unset;
    border: none;
    text-decoration: underline 1px solid var(--color-black);
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-thickness: 1px;
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-color: var(--color-black);

    text-underline-offset: 0.2em;
    anchor-name: --popover-anchor-css-for-js;
    display: inline;

    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    & > span,
    &::before {
      background-color: var(--color-highlight);
    }

    &:hover {
      color: var(--color-black);
      cursor: pointer;
    }
  }

  img {
    /* Safari bug: Small white border visible */
    vertical-align: top;
  }

  #popover-css-for-js[popover] {
    position: absolute;
    inset: auto;
    /* margin-inline: 2rem; */
    width: clamp(20rem, 50%, 40rem);

    position-try-fallbacks: --popover-css-for-js-flip-inline;
    position-anchor: --popover-anchor-css-for-js;

    top: anchor(--popover-anchor-css-for-js bottom);
    left: anchor(--popover-anchor-css-for-js right);

    border: var(--border-transparent);
    box-shadow: var(--shadow-elevation-medium);
    background: light-dark(var(--color-white), var(--color-reddusk));

    &:hover {
      border-color: var(--color-grey);
    }
  }

  @position-try --popover-css-for-js-flip-inline {
    inset: auto;

    top: anchor(--popover-anchor-css-for-js bottom);
    right: anchor(--popover-anchor-css-for-js right);

    position-try-fallbacks: flip-block, flip-inline, flip-start;
  }

  [popover] {
    &,
    &::backdrop {
      transition:
        display 0.5s,
        overlay 0.5s,
        opacity 0.5s,
        transform 0.5s;

      /* Exit Stage To */
      opacity: 0;
    }

    /* On Stage */
    &:popover-open {
      opacity: 1;

      &::backdrop {
        opacity: 0.5;
      }
    }

    /* Enter Stage From */
    @starting-style {
      &:popover-open,
      &:popover-open::backdrop {
        opacity: 0;
      }

      &:popover-open {
        transform: translateY(-1rem);
      }
    }
  }
</style>
