---
import Picture from "astro/components/Picture.astro";
import DiplomCD from "/src/images/about/TS-Diplom-dipl-Gestalter-HF.jpeg";
---

<button id="popover-cd" class="title-2" popovertarget="my-popover-cd">
  <span>Communication Design</span>
</button>

<div id="my-popover-cd" popover anchor="popover-cd">
  <Picture class="" src={DiplomCD} alt="Toni Schläppi" width={500} />
</div>

<style>
  button {
    background-color: transparent;
    padding: 0;
    border-radius: unset;
    border: none;
    text-decoration: underline 1px solid var(--color-black);
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-thickness: 1px;
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-color: var(--color-black);

    text-underline-offset: 0.2em;
    anchor-name: --popover-communication-design;
    display: inline;

    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    & > span,
    &::before {
      background-color: var(--color-highlight);
    }

    &:hover {
      color: var(--color-black);
      cursor: pointer;
    }
  }

  img {
    /* Safari bug: Small white border visible */
    vertical-align: top;
  }

  #my-popover-cd[popover] {
    position: absolute;
    inset: auto;
    margin: 0;
    padding: 0;
    /* margin-inline: 2rem; */
    width: clamp(14rem, 50%, 30rem);

    position-try-fallbacks: --popover-cd-flip-inline;
    position-anchor: --popover-communication-design;

    top: anchor(--popover-communication-design bottom);
    left: anchor(--popover-communication-design right);

    border-radius: calc(var(--border-radius) + var(--space-s));
    border: var(--border-transparent);
    box-shadow: var(--shadow-elevation-medium);
    background: light-dark(var(--color-white), var(--color-reddusk));

    &:hover {
      border-color: var(--color-grey);
    }
  }

  @position-try --popover-cd-flip-inline {
    inset: auto;

    top: anchor(--popover-communication-design bottom);
    right: anchor(--popover-communication-design right);

    position-try-fallbacks: flip-block, flip-inline, flip-start;
  }

  [popover] {
    &,
    &::backdrop {
      transition:
        display 0.5s,
        overlay 0.5s,
        opacity 0.5s,
        transform 0.5s;

      /* Exit Stage To */
      opacity: 0;
    }

    /* On Stage */
    &:popover-open {
      opacity: 1;

      &::backdrop {
        opacity: 0.5;
      }
    }

    /* Enter Stage From */
    @starting-style {
      &:popover-open,
      &:popover-open::backdrop {
        opacity: 0;
      }

      &:popover-open {
        transform: translateY(-1rem);
      }
    }
  }
</style>
