<button
  id="trigger"
  class="title-2 popover-button"
  popovertarget="my-tooltip"
  style="anchor-name: --my-tooltip;"
>
  <span>15 different countries</span>
</button>

<div id="my-tooltip" popover="auto" style="position-anchor: --my-tooltip;">
  <div class="countries-container stack-m">
    <h5 class="title-2">Asia</h5>
    <ul class="cluster">
      <li><p>Oman</p></li>
      <li><p>Sri Lanka</p></li>
    </ul>

    <h5 class="title-2">Europe</h5>
    <ul class="cluster">
      <li><p>Andorra</p></li>
      <li><p>Austria</p></li>
      <li><p>France</p></li>
      <li><p>Germany</p></li>
      <li><p>Italy</p></li>
      <li><p>Latvia</p></li>
      <li><p>Liechtenstein</p></li>
      <li><p>Netherlands</p></li>
      <li><p>Poland</p></li>
      <li><p>Romania</p></li>
      <li><p>Spain</p></li>
      <li><p>United Kingdom</p></li>
    </ul>

    <h5 class="title-2">North America</h5>
    <ul class="cluster">
      <li><p>Canada</p></li>
      <li><p>USA</p></li>
    </ul>
  </div>
</div>

<style>
  button.popover-button {
    user-select: text;
    padding: unset;
    border: unset;
    border-radius: unset;
    cursor: pointer;

    & span {
      text-decoration: underline;
      background-color: var(--color-highlight);
    }

    &:focus-visible {
      --outline-size: max(2px, 0.15em);
      outline: var(--outline-width, var(--outline-size))
        var(--outline-style, solid) var(--outline-color, currentColor);
      outline-offset: var(--outline-offset, var(--outline-size));
    }
  }

  #my-tooltip[popover] {
    inset: auto;
    margin: 0;
    /*margin-inline: 2rem;*/

    position-area: top right;

    position-try-fallbacks:
      flip-block,
      flip-inline,
      flip-block flip-inline;

    max-width: 25rem;
    max-height: 65vh;

    text-align: left;
    padding: var(--space-m) var(--space-l);
    border-radius: calc(var(--border-radius) + var(--space-s));
    border: var(--border-transparent);
    box-shadow: var(--shadow-elevation-medium);
    background: light-dark(var(--color-white), var(--color-reddusk));

    &:hover {
      border-color: var(--color-grey);
    }
  }

  .cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--space-xs, 1rem);
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

  ::backdrop {
    background-color: var(--color-white);
  }

  /* Disable backdrop-filter on Safari (macOS and iOS) to avoid rendering glitches with popover transforms */
  @supports (background: -webkit-named-image(apple-pay-logo-white)) {
    ::backdrop {
      background-color: initial;
    }
  }

  [popover] {
    &,
    &::backdrop {
      transition:
        display 0s ease-out allow-discrete,
        overlay 0.25s ease-out allow-discrete,
        opacity 0.25s ease-out,
        transform 0.25s ease-out;

      /* Exit Stage To */
      opacity: 0;
      will-change: opacity, transform;
      backface-visibility: hidden;
    }

    /* On Stage */
    &:popover-open {
      opacity: 1;

      &::backdrop {
        opacity: 0.5;
      }
    }

    /* Enter Stage From */
    @starting-style {
      &:popover-open,
      &:popover-open::backdrop {
        opacity: 0;
        will-change: opacity, transform;
        backface-visibility: hidden;
      }

      &:popover-open {
        transform: translateY(1ex);
      }
    }
  }
</style>

<script>
  if (window.matchMedia("(hover: hover)").matches) {
    document.addEventListener("mouseover", (e) => {
      const button = e.target.closest(".popover-button");
      if (button) {
        const popover = document.getElementById(
          button.getAttribute("popovertarget"),
        );
        popover?.showPopover();
      }
    });

    document.addEventListener("mouseout", (e) => {
      const button = e.target.closest(".popover-button");
      if (button) {
        const popover = document.getElementById(
          button.getAttribute("popovertarget"),
        );
        popover?.hidePopover();
      }
    });
  }
</script>
