---
interface Props {
  links: { id: string; label: string }[];
}

const { links } = Astro.props;
---

<button popovertarget="toc-popover">
  <span class="toc-text">Table of Contents</span>
</button>

<nav id="toc-popover" aria-label="Table of contents" popover="manual">
  <ul class="stack-xxs" id="toc-list">
    {
      links.map((link) => (
        <li>
          <a href={`#${link.id}`} class="toc-link">
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  button {
    position: fixed;
    bottom: var(--space-xs);
    right: var(--space-xs);
    z-index: 2;
    padding: 0;

    color: var(--color-grey-dark);
    background: var(--color-white);
    border: none;
    cursor: pointer;

    transition: color 0.2s ease;

    @media (max-width: 50rem) {
      display: none;
    }

    &:hover {
      color: var(--color-black);
    }

    &:focus-visible {
      --outline-size: max(2px, 0.15em);
      outline: var(--outline-width, var(--outline-size))
        var(--outline-style, solid) var(--outline-color, currentColor);
      outline-offset: var(--outline-offset, var(--outline-size));
    }
  }

  #toc-popover {
    position-area: top right;
    position-try-fallbacks: flip-block;
    border: none;
    width: calc(anchor-size(width) + var(--space-xs));
    margin: 0 0 var(--space-xs) 0;
    padding: 0;
  }

  .toc-text {
    text-decoration: underline;
  }

  ul {
    font-size: var(--step-0);
    line-height: 1.15;
  }

  a:hover {
    background-color: var(--color-bggrey);
  }

  a.active {
    background-color: var(--color-highlight);
  }
</style>

<script>
  // Observer: highlight active section
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        const id = entry.target.getAttribute("id");
        if (entry.isIntersecting) {
          document.querySelectorAll(".toc-link").forEach((link) => {
            const href = link.getAttribute("href");
            if (href === `#${id}`) {
              link.classList.add("active");
            } else {
              link.classList.remove("active");
            }
          });
        }
      });
    },
    { root: null, rootMargin: "0% 0% -70% 0%" },
  );

  document.querySelectorAll(".toc-link").forEach((link) => {
    const id = link.getAttribute("href")?.substring(1);
    if (id) {
      const target = document.getElementById(id);
      if (target) {
        observer.observe(target);
      }
    }
  });
</script>
