---
const { class: className } = Astro.props;
---

<section class:list={["stack-m", className]}>
  <div>
    <!-- <h2 class="deco-title-diagonal">
      Visual Design, Prototyping,<br /> Usability Tests, Research,<br /> Interviews,
      HTML&CSS,
    </h2> -->
    <!-- <div class="decoration-blob-1"></div>
    <div class="decoration-blob-2"></div> -->
  </div>
  <div class="subtitles-group stack-m">
    <h3 class="title-6">
      Crafting, Coding, and Validating User-Centric Digital Experiences
    </h3>
    <div>
      <ul>
        <li>
          <a href="/about">
            <h4 class="title-1">About</h4>
          </a>
        </li>
        <li>
          <a href="/#contact-me" class="contact">
            <h4 class="title-1">
              Contact Toni <span role="img" aria-label="speech bubble"
                >&nbsp;&#128172;</span
              >
            </h4>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .subtitles-group a {
    display: block;
    width: fit-content;
    margin-inline: auto;

    & span {
      display: inline-block;
    }
  }

  .subtitles-group {
    width: fit-content;
    max-width: 35rem;
    margin-inline: auto;
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s, 1rem);
    align-items: last baseline;
    justify-content: center;
    flex: 1;
    min-width: fit-content;
  }

  section {
    padding: var(--space-l);
    margin-top: calc(var(--space-2xl) * 3);
    background: --box-gradient;

    border: var(--border-transparent);
    border-top: 0px;
    border-radius: 0rem 0rem clamp(1vw, 12vw, 17vw) clamp(1vw, 12vw, 17vw);
  }
</style>
