<section>
  <slot name="CSImage" class="img-slot" />
  <div class="stack-m">
    <h2 class="title-3">
      <slot name="CaseStudiesTitle" />
    </h2>

    <div>
      <h3 class="title-1">Result</h3>
      <p>
        <slot name="CaseStudiesOutcomeContent" />
      </p>
    </div>
    <div>
      <h3 class="title-1">My contributions</h3>
      <p>
        <slot name="CaseStudiesMyRoleContent" />
      </p>
    </div>
    <div>
      <h3 class="title-1">Customer</h3>
      <p>
        <slot name="CaseStudiesClientContent" />
      </p>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    justify-content: center;
    padding: var(--space-l);
  }

  section > :last-child {
    flex-basis: 30ch;
    flex-grow: 1;
    max-width: 50ch;
  }

  section > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 60%;
  }

  section:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
</style>
