<section class="second-wrapper">
  <slot name="CSImage" class="img-slot" />
  <div class="stack-m">
    <h2 class="title-4">
      <slot name="CaseStudiesTitle" />
    </h2>

    <div>
      <h3 class="title-0">Result</h3>
      <p class="title-2">
        <slot name="CaseStudiesOutcomeContent" />
      </p>
    </div>
    <div>
      <h3 class="title-0">My contributions</h3>
      <p class="title-2">
        <slot name="CaseStudiesMyRoleContent" />
      </p>
    </div>
    <div>
      <h3 class="title-0">Customer</h3>
      <p class="title-2">
        <slot name="CaseStudiesClientContent" />
      </p>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-l);
  }

  section > :last-child {
    flex-basis: 30ch;
    flex-grow: 1;
    max-width: 50ch;
  }

  section > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 60%;
  }

  h3 {
    color: var(--color-darkgrey);
  }

  section:nth-child(2n) {
    flex-direction: row-reverse;
  }
</style>
