<footer>
  <p>© 2025 Toni Schläppi</p>
</footer>

<style>
  footer {
    display: flex;
    padding-block-end: var(--space-m);
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;

    background: linear-gradient(
      0deg,
      #ebebeb 6.76%,
      rgba(255, 255, 255, 0) 80.54%
    );
    min-height: 15rem;
    margin-block-end: 0;
  }
</style>
