---
import WhatsappButton from "../components/whatsapp-button.astro";
import Picture from "astro/components/Picture.astro";
import Toni from "/src/images/toni.jpg";
import TextOnACircle from "../components/text-on-a-circle.astro";
import Availability from "../components/availability.astro";
import HandwritingAndArrow from "../components/handwriting-and-arrow.astro";
import ContactLinks from "../components/contact-links.astro";
import Stars from "../components/stars.astro";

const { class: className } = Astro.props;
---

<section class:list={["stack-m", className]}>
  <!-- <Availability /> -->
  <Stars />
  <h2 class="title-4">Hi, I am Toni</h2>
  <h3 class="title-1">
    UX designer with over 8 years of experience in web design and development
  </h3>
  <div class="title-picture-group">
    <h1 class="title-7">
      Crafting, Coding,<br /> and Validating<br /> User-Centric Digital<br /> Experiences
    </h1>
    <Picture class="toni" src={Toni} alt="Toni Schläppi" />
    <TextOnACircle />
  </div>

  <HandwritingAndArrow />

  <nav class="title-contact-group" aria-labelledby="contact-links-heading">
    <h2 id="contact-links-heading" class="sr-only">Personal contact links</h2>
    <WhatsappButton />
    <ContactLinks />
  </nav>
</section>

<style>
  section {
    text-align: center;
    padding: var(--space-m);

    background: linear-gradient(
      160deg,
      light-dark(
          color-mix(in oklch, var(--color-white) 99%, var(--color-black)),
          color-mix(in oklch, var(--color-white) 95%, var(--color-black))
        )
        0%,
      light-dark(
          color-mix(in oklch, var(--color-white) 100%, var(--color-black)),
          color-mix(in oklch, var(--color-white) 100%, var(--color-black))
        )
        50%
    );

    border: var(--border-transparent);
    border-bottom: 0px;
    border-radius: clamp(1vw, 12vw, 17vw) clamp(1vw, 12vw, 17vw) 0rem 0rem;
    z-index: 1;
  }

  nav {
    max-width: fit-content;
    margin-inline: auto;
  }

  .title-picture-group h1 {
    position: relative;
    margin-bottom: 0;
    /* keep H1 title on top of picture */
  }

  .title-picture-group .toni {
    position: relative;

    /* Remove descenders from H1 so the picture is snug with the title */
    line-height: 1;
    font-size: var(--step-6);
    font-family: inherit;

    --heading-line-height: 0.5;
    --font-primary-capital-letter: 0.15;
    margin-top: calc(
      (var(--font-primary-capital-letter) - var(--heading-line-height)) * 0.5em
    );

    border-radius: 100%;
    max-width: 10rem;
    user-select: none;
    pointer-events: none;
    /* Filter: grayscale creates a new stacking context. This is needed to make sure the picture is once again behind the H1 during dark mode  */
    z-index: -1;
  }

  .toni {
    filter: var(--theme-filter);
  }

  section h3 {
    max-width: 60ch;
    margin-inline: auto;
  }

  .title-contact-group {
    position: relative;
    z-index: -2;
  }

  /* idea to make a nav element bolder on hover when a same width typeface is not available. paint-order needed so fill is on top
  h1:hover  {
            paint-order: stroke fill;
            -webkit-text-stroke: 5px oklch(0.95 0.0579 158.15);

      }
*/

  @media (min-width: 80rem) {
    .title-picture-group h1 {
      font-size: calc(var(--step-6) * 1.4);
    }
  }
</style>
