<section class="second-wrapper stack-l">
  <h2 class="title-6">
    Clients I've had the<br /> privilege of working with
  </h2>
  <div>
    <ul>
      <li><p>Agrola AG</p></li>
      <li><p>Swiss Association of Medical Practice Professionals</p></li>
      <li><p>Phonak (Sonova Holding AG)</p></li>
      <li><p>HP Switzerland</p></li>
      <li><p>Swiss Association of Notaries (SNV)</p></li>
      <li>
        <p>Association of Chief Hospital Physicians of Switzerland (VLSS)</p>
      </li>
      <li><p>Swiss Agricultural Media</p></li>
      <li><p>Swiss Society for Clinical Neurophysiology (SGKN)</p></li>
      <li><p>Hotellerie Suisse</p></li>
      <li><p>Swissgoldplan</p></li>
      <li><p>Swiss Society for Health Policy (SGGP)</p></li>
      <li><p>Joker Personal AG</p></li>
      <li><p>Jakob Rope Systems</p></li>
      <li><p>Swiss Red Cross</p></li>
      <li><p>Salvation Army Switzerland</p></li>
    </ul>
  </div>
</section>

<style>
  li {
    position: relative;
  }

  li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1ex;
    height: 1px;
    background-color: color-mix(in oklch, var(--color-black), transparent 70%);
  }

  ul {
    --min: 30ch;
    --gap: 1rem;

    display: grid;
    grid-gap: var(--space-m);
    /* min() with 100% prevents overflow
  in extra narrow spaces */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  }
</style>
