<header>
  <nav aria-label="main-navigation" class="main-navigation">
    <div class="logo-toni">
      <h2 class="title-2">Toni Schläppi</h2>
      <h3 class="title-0">UX Design Engineer</h3>
    </div>
    <ul>
      <!-- <li>
        <a href="">
          <h4 class="title-1">CV</h4>
        </a>
      </li> -->
      <!-- <li>
        <a href="">
          <h4 class="title-1">Work</h4>
        </a>
      </li> -->
      <li>
        <h4 class="title-1">
          <a href="#contact-me">Contact Toni &#128172;</a>
        </h4>
      </li>
    </ul>
  </nav>
</header>

<style>
  .main-navigation {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m, 1rem);
    justify-content: space-between;
    align-items: center;
    padding: var(--space-m);

    & ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-s, 1rem);
      align-items: last baseline;
      justify-content: flex-end;
      flex: 1;
      min-width: fit-content;
    }
  }
</style>
