---
import ThemeSwitcher from "../components/theme-switcher.astro";
---

<header>
  <nav class="main-navigation">
    <div class="logo-toni">
      <a href="/">
        <h2 class="title-2">Toni Schläppi</h2>
        <h3 class="title-1">UX Designer</h3>
      </a>
    </div>
    <ul>
      <li>
        <h4 class="title-1"><ThemeSwitcher /></h4>
      </li>
      <li>
        <a href="/about">
          <h4 class="title-1">About</h4>
        </a>
      </li>
      <li>
        <a href="/#contact-me" class="contact">
          <h4 class="title-1">Contact</h4>
        </a>
      </li>
    </ul>
  </nav>

  <style>
    .main-navigation {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-m, 1rem);
      justify-content: space-between;
      align-items: center;
      padding: var(--space-m);

      & ul {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-s, 1rem);
        align-items: last baseline;
        justify-content: flex-end;
        flex: 1;
        min-width: fit-content;
      }
    }

    .logo-toni a {
      text-decoration: none;
    }
  </style>
</header>
