---
import Icon from "@/images/icons/Design-systems-icon.svg";
---

<section class="card-grid-cell stack-xs">
  <Icon />
  <h4 class="title-1">Design systems</h4>
</section>

<style>
  /* */
</style>
