---
import Icon from "@/images/icons/Frontend-engineering-icon.svg";
---

<section class="card-grid-cell stack-xs">
  <Icon />
  <h4 class="title-1">Frontend engineering</h4>
</section>

<style>
  /* */
</style>
