---
import Icon from "@/images/icons/Usability-testing-icon.svg";
---

<section class="card-grid-cell stack-xs">
  <Icon />
  <h4 class="title-1">Usability testing</h4>
</section>

<style>
  /* */
</style>
