---
import Icon from "@/images/icons/UX-Field-Studies-icon.svg";
---

<section class="card-grid-cell stack-xs">
  <Icon />
  <h4 class="title-1">UX field studies</h4>
</section>

<script></script>

<style></style>
